<h1>Edit <%= @opponent.username %></h1>

<% if flash[:errors] %>
    <%= render '/applications/errors' %>
<% end %>

<%= render 'opponent_form' %>

<br>
<%= button_to "Cancel", player_path(current_player), method: :get %>