<div id="welcome">
    <h1>Welcome to MyTTF</h1>
    <h3>Keep track of your progress and rank up against your opponents.</h3>
</div>

<%= button_to "Signup", new_player_path, :method => :get %>

<!-- Learning login via lab and applying here. >
<%= button_to "Login", new_player_path, :method => :get %>

