<div class="container">
    <div class="text-center">
        <% if flash[:errors] %>
            <%= render '/applications/errors' %>
        <% end %>
        <div class="color_backdrop">
            <div class="mx-auto form" style="width: auto;">
                <h1>Signup</h1>
                <%= render 'player_form' %>
            </div>
        </div>
    </div>
</div>